
fastapi
uvicorn[standard]


sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-dotenv


openai         
google-generativeai 


pandas
numpy
scikit-learn    
xgboost         


yfinance       
requests      
beautifulsoup4  
pymysql

psycopg2-binary